@font-face {
  font-family: montserrat-alternates-medium;
  font-display: swap;
  src: url(../fonts/montserrat-alternates-medium.woff2) format("woff2"), url(../fonts/montserrat-alternates-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
p,
ul,
li {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --color-green: rgba(38, 153, 38, 1);
  --color-dark-grey: rgba(255, 255, 255, 0.1);
  --color-light-grey: rgba(255, 255, 255, 0.3);
  --color-red: rgba(255, 0, 0, 0.8);
  --color-pink: rgba(233, 30, 99, 1);
  --color-yellow: rgba(255, 193, 7, 1);
  --color-white: rgba(240, 255, 240, 1);
}

body {
  background: linear-gradient(180deg, var(--color-pink), var(--color-pink), var(--color-yellow) 60%, var(--color-yellow));
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  background-attachment: fixed;
}

li {
  display: inline-block;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  margin: 0 -182px;
}

.col {
  margin: 0 182px;
}

@font-face {
  font-family: montserrat-alternates-medium;
  font-display: swap;
  src: url(../fonts/montserrat-alternates-medium.woff2) format("woff2"), url(../fonts/montserrat-alternates-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

.clocks__wrapper {
  width: 4650px;
  transition: 0.5s;
  font-size: 0;
}

.no-webp .clock {
  background: radial-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.2)), url(../img/clock.png);
}





.webp .clock {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-size: cover;
  box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.1), 8px 8px 16px rgba(0, 0, 0, 0.1), 0px 32px 16px rgba(0, 0, 0, 0.2);
}

.box {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation-name: animateClock;
  animation-name: animateClock;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes animateClock {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes animateClock {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20px);
  }
}

.clock::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: var(--color-white);
  z-index: 100;
}

.hours,
.minutes,
.seconds {
  position: absolute;
  -ms-grid-row-align: center;
  align-self: center;
}

.hr {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.mn {
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.sc {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: black;
  border-radius: 6px 6px 0 0;
  z-index: 10;
}

.mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: var(--color-white);
  border-radius: 6px 6px 0 0;
  z-index: 10;
}

.sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: var(--color-white);
  border-radius: 6px 6px 0 0;
  z-index: 11;
}

.footer__wrapper {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__buttons {
  position: relative;
  width: 200px;
  height: 60px;
  margin-bottom: 50px;
}

.footer__buttons-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-grey);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
  border-radius: 30px;
  font-size: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.3s;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  cursor: pointer;
}

.footer__buttons-content:hover {
  letter-spacing: 3px;
  color: var(--color-white);
}

.footer__buttons::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: var(--color-green);
  left: 50%;
  bottom: -12px;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: -1;
}

.footer__buttons:hover::before {
  bottom: 0%;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.2s;
}

.footer__buttons::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: var(--color-green);
  left: 50%;
  top: -10px;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: -1;
}

.footer__buttons:hover::after {
  top: 0%;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.2s;
}

.footer__buttons-content:active {
  background-color: var(--color-red);
}

.clocks__slider {
  width: 2100px;
  display: flex;
  justify-content: space-between;
  margin: 9% auto;
}

.slider__buttons-right {
  border-left: 60px solid var(--color-dark-grey);
  margin-top: 10%;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  width: 0px;
  height: 0px;
  transition: 0.2s;
  z-index: 20;
}

.slider__buttons-left {
  border-right: 60px solid var(--color-dark-grey);
  margin-top: 10%;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  width: 0px;
  height: 0px;
  transition: 0.2s;
  z-index: 20;
}

.slider__buttons-left:hover,
.slider__buttons-right:hover {
  transform: scale(1.2);
}

.slider__buttons-left:active {
  border-right: 60px solid var(--color-green);
}

.slider__buttons-right:active {
  border-left: 60px solid var(--color-green);
}

.title {
  font-size: 30px;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1930px) {
  .clocks__slider {
    width: 1600px;
  }

  .col {
    margin: 0 100px;
  }

  .row {
    margin: 0 -100px;
  }

  .container {
    width: 1011px;
  }
}

@media screen and (max-width: 1930px) {
  .clocks__slider {
    width: 1600px;
  }

  .col {
    margin: 0 100px;
  }

  .row {
    margin: 0 -100px;
  }

  .container {
    width: 1011px;
  }
}

@media screen and (max-width: 1660px) {
  .clocks__slider {
    width: 1300px;
  }

  .col {
    margin: 0 80px;
  }

  .row {
    margin: 0 -80px;
  }

  .container {
    width: 810px;
  }
}

@media screen and (max-width: 1500px) {
  .clocks__slider {
    width: 1200px;
  }

  .col {
    margin: 0 60px;
  }

  .row {
    margin: 0 -60px;
  }

  .container {
    width: 770px;
  }

  .slider__buttons-right {
    border-left: 50px solid rgba(255, 255, 255, 0.2);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }

  .slider__buttons-left {
    border-right: 50px solid rgba(255, 255, 255, 0.2);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }
}

@media screen and (max-width: 1300px) {
  .clocks__slider {
    width: 800px;
  }

  .col {
    margin: 0 60px;
  }

  .container {
    width: 398px;
  }

  .box {
    width: 390px;
    height: 390px;
  }

  .footer__buttons {
    width: 85%;
    height: 80px;
    margin-top: 20px;
  }
}

.webp .clock {
  background: radial-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.2)), url(../img/clock.webp);
}